.content pre {
  background-color: #7373730e;
}

.dark .content pre {
  background-color: #73737330;
}

.content code {
  background-color: transparent;
}

.content :not(pre) code {
  background-color: #7373730e;
  padding: .15rem .5rem;
  margin: 0 .25rem;
  border-radius: .5rem;
}

.dark .content :not(pre) code {
  background-color: #73737330;
}

.content code::before,
.content code::after {
  content: "";
}


.content table {
  font-size: 0.8em;
}

.content table thead tr {
  background-color: #73737330;
  text-align: left;
}

.content table th,
.content table td {
  padding: 0.6rem 1rem;
}

.content table tbody tr:last-of-type {
  border-bottom: 2px solid #7373730e;
}
