.content pre {
  background-color: var(--content) !important;
}

.dark .content pre {
  background-color: var(--content) !important;
  color: var(--tw-prose-pre-code) !important;
}

.content code {
  background-color: transparent;
}

.content :not(pre) code {
  background-color: var(--content);
  padding: .15rem .5rem;
  margin: 0 .25rem;
  border-radius: .5rem;
}

.dark .content :not(pre) code {
  background-color: var(--content);
}

.content code::before,
.content code::after {
  content: "";
}


.content table {
  font-size: 0.8em;
}

.content table thead tr {
  background-color: var(--content);
  text-align: left;
}

.content table th,
.content table td {
  padding: 0.6rem 1rem;
}

.content table tbody tr:last-of-type {
  border-bottom: 1px solid var(--tw-prose-td-borders);
}
